{erl_opts, [debug_info, nowarn_deprecated_function]}.
{deps, [
    {cowboy, "2.14.2"},
    {base64url, "1.0.1"},
    {jose, "1.11.10"},
    {ezstd, "1.1.0"},
    {enats, "1.2.0"}
]}.

{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]}
]}.

{relx, [
    {release, {fluxer_gateway, "0.0.0"}, [
        fluxer_gateway,
        enats,
        sasl
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "./config/sys.config"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {deps, [
            {opentelemetry_api, "1.5.0"},
            {opentelemetry, "1.7.0"},
            {opentelemetry_exporter, "1.10.0"},
            {opentelemetry_experimental, "0.5.1"},
            {opentelemetry_api_experimental, "0.5.1"},
            {opentelemetry_semantic_conventions, "1.27.0"}
        ]},
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]},
        {erl_opts, [{d, 'HAS_OPENTELEMETRY'}]}
    ]},
    {dev, [
        {erl_opts, [debug_info, nowarn_deprecated_function, {d, 'DEV_MODE'}]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {apps, [fluxer_gateway]}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

{dialyzer, [
    {plt_extra_apps, [
        jose, ranch, enats
    ]},
    {warnings_file, "dialyzer.ignore-warnings"}
]}.
